.form-container{
    position: absolute;
    background: linear-gradient(90deg, rgba(0,45,89,1) 0%, rgba(43,161,218,1) 50%, rgba(0,45,89,1) 100%);
    background-size: 800% 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;

    box-shadow: 0px 10px 18px 0px rgba(186,186,186,1);
    border-radius: 10px;
    padding: 50px;
    animation: change-bg 15s ease-in infinite;
    text-align: center;
    color: white;
}


@media (min-width:1200px){
    .form-container{
        width: 600px;
    }
}

@media (max-width: 1200px) { 
    .form-container{
        width: 450px;
    }
}


.form-container h1{
    color:white;
    margin-bottom: 40px;
}

@keyframes change-bg{
0%{
    background-position: 0 50%;
}
50%{
    background-position: 100% 50%;
}
100%{
    background-position: 0 50%;
}
}

.btn-invia{
    margin-top: 30px;
    width: 150px;
    background-color: #ffffff00;
    color: white;
    font-size: 16px;
    padding: 10px 0;
    border-radius: 10px;
    border: none;
    outline: none;
    box-shadow: -3px -3px 3px rgba(255,255,255,0.2), 
                5px 5px 5px rgba(0,0,0,0.1),
                inset -2px -2px 2px rgba(255,255,255,0.2), 
                inset 2px 2px 2px rgba(0,0,0,0.1);

}

.btn-invia:hover{
    cursor: pointer;
}

.btn-invia:active{
    box-shadow: inset -2px -2px 2px rgba(255,255,255,0.2), inset 2px 2px 2px rgba(0,0,0,0.1);
}

.name-sname{
    display: flex;
    width: 100%;
}

.form-container .input-box{
    position: relative;
    width: inherit;
}

.form-container .input-box input{
    width: 100%;
    padding: 10px 0;
    font-size: 18px;
    color: white;
    margin-bottom: 20px;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 2px solid white;
}

.form-container .input-box label{
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    pointer-events: none;
    transition: all 0.5s;
    font-weight: bold;
}

.form-container .input-box input:focus ~ label,
.form-container .input-box input:valid ~ label{
    top: -22px;
    left: 0;
    font-size: 12px;
}


