.form-container{
    background: linear-gradient(90deg, rgba(0,45,89,1) 0%, rgba(43,161,218,1) 50%, rgba(0,45,89,1) 100%);
    background-size: 800% 100%;
    margin-left: 20%;
    width: 60%;
    height: 60vh;
    box-shadow: 0px 10px 18px 0px rgba(186,186,186,1);
    border-radius: 10px;
    padding: 30px;
    animation: change-bg 15s ease-in infinite;
    text-align: center;
    color: white;
}

.form-container h1{
    color:white
}

@keyframes change-bg{
0%{
    background-position: 0 50%;
}
50%{
    background-position: 100% 50%;
}
100%{
    background-position: 0 50%;
}
}

.btn-invia{
    width: 150px;
    background-color: #ffffff00;
    color: white;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    box-shadow: -3px -3px 3px rgba(255,255,255,0.2), 
                5px 5px 5px rgba(0,0,0,0.1),
                inset -2px -2px 2px rgba(255,255,255,0.2), 
                inset 2px 2px 2px rgba(0,0,0,0.1);

}

.btn-invia:hover{
    cursor: pointer;
}

.btn-invia:active{
    box-shadow: inset -2px -2px 2px rgba(255,255,255,0.2), inset 2px 2px 2px rgba(0,0,0,0.1);
}