$header-text: black;
//navbar style
header {
    // background: $background;
     display: flex;
     width: 100%;
   
     ul {
       top:0;
       height: 60px;
       margin-left: auto;
       list-style: none;
       display: flex;
       align-items: flex-end;
       z-index: 10000;
       li {
         border-radius: 10px;
         a {
           text-decoration: none;
           color: $header-text;
         }
         a:hover {
           color: rgba(0, 0, 0, 0.788);
         }
       }
     }
   }
   
     header ul li:hover {
       transition: all 0.2s ease 0s;
       color: #0b8cca;
       border-radius: 10px;
       box-shadow: 0px 3px 4px 0px rgba(186,186,186,1);
     }
   
     header ul li:active{
       color: white;
       background-color: #04b7e8;
       box-shadow: 0px 0px 0px 0px rgba(186,186,186,1);
     }
     
     #cont-btn{
       margin-left: 3em;
       color: white;
       background-color: #0b8cca;
     }
     
     #cont-btn:hover{
       animation-name: btn-rot;
       animation-duration: 3s;
       box-shadow: 0px 4px 7px 0px rgba(186,186,186,1);
     }
     
     .mobile-li{
       display: none;
     }

     .prodotti{
       margin-right: 20px;
     }
   
     .prodotti:hover .sub-prodotti{
       animation: sub-anim 0.5s;
       display: -ms-inline-grid;
       display: inline-grid;
       background-color: white;
     }
   
   @keyframes sub-anim{
     0%{
       top: 60px;
     }
   }
   
   .prodotti-title:hover{
     animation: none;
     box-shadow: 0px 0px 0px 0px rgba(186,186,186,1);
     color: #ff6118;
   }
   
   
   .prodotti-title:hover .sub-prodotti{
     display: block;
   }
   
   .sub-prodotti {
     position: absolute;
     display: none;
     top: 75px;
     box-shadow: 0px 4px 4px 0px rgba(186,186,186,1);
     border-radius: 10px;
   }
   
   .sub-prodotti a{
     padding: 10px 25px;
   }
   
   .sub-prodotti a:hover{
     color: #ff6118;
     background-color: #f9f9f9;
     border-radius: 10px;
   }
     @keyframes btn-rot {
       0%   {background-color: #0b8cca;}
       15%  {background-color: #ffcf06; transform: rotate(5deg);}
       30%  {background-color: #ff6118; transform: rotate(-5deg);}
       45%  {background-color: #ffcf06; transform: rotate(5deg);}
       60%  {background-color: #ff6118; transform: rotate(-5deg);}
       75%  {background-color: #ffcf06; transform: rotate(5deg);}
       90%  {background-color: #ff6118; transform: rotate(-5deg);}
       100% {}
     }
   
     @media (min-width:1500px){
       header{
         ul {
          margin-right: 4em;
          li {
            font-size: 18px;
            padding: 10px 25px;
          }
        }

       }
       
     }
   
     @media (min-width: 1025px) and (max-width: 1500px) { 
      header{
        ul {
          margin-right: 2em;
          li {
            padding: 10px 20px;
          }
        }
      }
     }
   
   .logo {
     height: 320px;
     width: 320px;
     margin-left: 6%;
     z-index: -1;
   }

   .motto-div {
    z-index: 10000;
    margin-top: 17vh;
    margin-left: 5%;
    width: 40%;
    text-align: center;
    font-size: 70px;
    color: #0b8cca;
    line-height: 65px;
    font-weight: bold;
  }
  
  .motto-div .tit{
    font-size: 80px;line-height: 45px;
    color: #0b6cca;
  }
  
  .ombra{
    content: '';
    margin-left: 15%;
    width: 20%;
    height: 20px;
    margin-top:30px;
    background-color: rgba(0,0,0,0.2);
    border-radius: 50%;
    z-index: -1;
    filter: blur(10px);
  }
  
  .motto2-div{
    z-index: 10000;
    position: absolute;
    top: 220px;
    right: 2%;
    width: 50%;
    text-align: right;
    font-size: 35px;
    color: #ffb909;
    line-height: 45px;
    font-weight: bold;
  }
  
  .motto2-div .tit{
    font-size: 50px;line-height: 45px;
    color: #ff9b0e;
  }

  .menu-icon{
    display: none;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
  }

  .menu-icon:active ~ .ul{
    display: block;
  }

@media only screen and (max-width: 1025px){
  header{
    position: relative;
    color: white;
  }  
  header ul{
    padding: 0;
    margin: 0;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    display: none;
  }
  header ul li{
    width: 100%;
    text-align: center;
  }
  header ul a{
    width: 100%;
    color: white;
    margin-top: 50px;
  }
  .logo{
    display: none;
  }
  #cont-btn{
    display: none;
  }
  .prodotti{
    display: none;
  }
  .mobile-li{
    display: flex;
  }
  .menu-icon{
    display: block;
    position: absolute;
    top:10px;
    right: 10px;
    z-index: 10000;
  }
}
  