header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

header ul {
  top: 0;
  height: 60px;
  margin-left: auto;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  z-index: 10000;
}

header ul li {
  border-radius: 10px;
}

header ul li a {
  text-decoration: none;
  color: black;
}

header ul li a:hover {
  color: rgba(0, 0, 0, 0.788);
}

header ul li:hover {
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  color: #0b8cca;
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 4px 0px #bababa;
          box-shadow: 0px 3px 4px 0px #bababa;
}

header ul li:active {
  color: white;
  background-color: #04b7e8;
  -webkit-box-shadow: 0px 0px 0px 0px #bababa;
          box-shadow: 0px 0px 0px 0px #bababa;
}

#cont-btn {
  margin-left: 3em;
  color: white;
  background-color: #0b8cca;
}

#cont-btn:hover {
  -webkit-animation-name: btn-rot;
          animation-name: btn-rot;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-box-shadow: 0px 4px 7px 0px #bababa;
          box-shadow: 0px 4px 7px 0px #bababa;
}

.prodotti {
  margin-right: 20px;
}

.prodotti:hover .sub-prodotti {
  -webkit-animation: sub-anim 0.5s;
          animation: sub-anim 0.5s;
  display: -ms-inline-grid;
  display: inline-grid;
}

@-webkit-keyframes sub-anim {
  0% {
    top: 60px;
  }
}

@keyframes sub-anim {
  0% {
    top: 60px;
  }
}

.prodotti-title:hover {
  -webkit-animation: none;
          animation: none;
  -webkit-box-shadow: 0px 0px 0px 0px #bababa;
          box-shadow: 0px 0px 0px 0px #bababa;
  color: #ff6118;
}

.prodotti-title:hover .sub-prodotti {
  display: block;
}

.sub-prodotti {
  position: absolute;
  display: none;
  top: 75px;
  -webkit-box-shadow: 0px 4px 4px 0px #bababa;
          box-shadow: 0px 4px 4px 0px #bababa;
  border-radius: 10px;
}

.sub-prodotti a {
  padding: 10px 25px;
}

.sub-prodotti a:hover {
  color: #ff6118;
  background-color: #f9f9f9;
  border-radius: 10px;
}

@-webkit-keyframes btn-rot {
  0% {
    background-color: #0b8cca;
  }
  15% {
    background-color: #ffcf06;
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  30% {
    background-color: #ff6118;
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  45% {
    background-color: #ffcf06;
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  60% {
    background-color: #ff6118;
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  75% {
    background-color: #ffcf06;
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  90% {
    background-color: #ff6118;
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  100% {
  }
}

@keyframes btn-rot {
  0% {
    background-color: #0b8cca;
  }
  15% {
    background-color: #ffcf06;
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  30% {
    background-color: #ff6118;
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  45% {
    background-color: #ffcf06;
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  60% {
    background-color: #ff6118;
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  75% {
    background-color: #ffcf06;
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  90% {
    background-color: #ff6118;
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  100% {
  }
}

@media (min-width: 1500px) {
  header ul {
    margin-right: 4em;
  }
  header ul li {
    font-size: 18px;
    padding: 10px 25px;
  }
}

@media (min-width: 1025px) and (max-width: 1500px) {
  header ul {
    margin-right: 2em;
  }
  header ul li {
    padding: 10px 20px;
  }
}

.logo {
  height: 320px;
  width: 320px;
  margin-left: 6%;
  z-index: -1;
}
/*# sourceMappingURL=header.css.map */