@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap"); //font

//variabili
$header-text: black;
$background: rgba(85, 214, 170, 0.85);

html {
  height: 100%;
}

::-webkit-scrollbar{
  width: 20px;
}
::-webkit-scrollbar-track{
  border: none;
  background-color: #ffffff;
}
::-webkit-scrollbar-thumb{
  background-color: #0b8cca;
  border-radius: 50px;
}

a{
  text-decoration: none;
  color: black;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  /*background-image: url("../img/header.png");*/
  background-size: 100%;
  background-repeat: no-repeat;
}



//navbar style
header {
 // background: $background;
  display: flex;
  width: 100%;

  ul {
    top:0;
    height: 60px;
    margin-left: auto;
    list-style: none;
    display: flex;
    align-items: flex-end;
    z-index: 10000;
    li {
      border-radius: 10px;
      a {
        text-decoration: none;
        color: $header-text;
      }
      a:hover {
        color: rgba(0, 0, 0, 0.788);
      }
    }
  }
}

  header ul li:hover {
    transition: all 0.5s ease 0s;
    color: #0b8cca;
    border-radius: 10px;
    box-shadow: 0px 2px 4px 0px rgba(186,186,186,1);
  }
  
  #cont-btn{
    margin-left: 3em;
    color: white;
    background-color: #0b8cca;
  }
  
  #cont-btn:hover{
    animation-name: btn-rot;
    animation-duration: 3s;
    box-shadow: 0px 4px 7px 0px rgba(186,186,186,1);
  }

  .prodotti{
    margin-right: 20px;
  }

  .prodotti:hover .sub-prodotti{
    display: -ms-inline-grid;
    display: inline-grid;
  }

.prodotti-title:hover{
  box-shadow: 0px 0px 0px 0px rgba(186,186,186,1);
  color: #ff6118;
}

.prodotti-title:hover .sub-prodotti{
  display: block;
}

.sub-prodotti {
  position: absolute;
  display: none;
  top: 75px;
  box-shadow: 0px 4px 4px 0px rgba(186,186,186,1);
  border-radius: 10px;
}

.sub-prodotti a{
  padding: 10px 25px;
}

.sub-prodotti a:hover{
  color: #ff6118;
  background-color: #f9f9f9;
  border-radius: 10px;
}
  @keyframes btn-rot {
    0%   {background-color: #0b8cca;}
    15%  {background-color: #ffcf06; transform: rotate(5deg);}
    30%  {background-color: #ff6118; transform: rotate(-5deg);}
    45%  {background-color: #ffcf06; transform: rotate(5deg);}
    60%  {background-color: #ff6118; transform: rotate(-5deg);}
    75%  {background-color: #ffcf06; transform: rotate(5deg);}
    90%  {background-color: #ff6118; transform: rotate(-5deg);}
    100% {}
  }

  @media (min-width:1500px){
    ul {
      margin-right: 4em;
      li {
        font-size: 18px;
        padding: 10px 25px;
      }
    }
  }

  @media (min-width: 1025px) and (max-width: 1500px) { 
    ul {
      margin-right: 2em;
      li {
        padding: 10px 20px;
      }
    }
  }
/*
  button {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #60a3bc;
    padding: 10px;
    border-radius: 50px;
    border: none;
    transition: all 0.4s ease 0s;
    cursor: pointer;
    align-self: flex-end;
    margin-right: 12%;
    margin-bottom: 14px;
  }
  button:hover {
    background: #60a3bcc2;
    transition: all 0.4s ease 0s;
  }
*/
.logo {
  height: 320px;
  width: 320px;
  margin-left: 6%;
  z-index: -1;
}

.motto-div{
  z-index: 10000;
  margin-top: 15vh;
  margin-left: 3%;
  width: 50%;
  padding: 10px 10px;
  text-align: center;
  font-size: 65px;
  color:#0b8cca;
  line-height: 60px;
  font-weight: bold;
  animation: motto-anim 2s;
}

@keyframes motto-anim{
  0%{
    margin-top: 40vh;
    color: white;
    line-height: 100px;
    letter-spacing: 5px;
  }
  25%{
    color: #ff7231;
  }
}
